name: Create release

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create_release:
    name: Create release
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            dist:
              - "dist/**"

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4
        with:
          versionSpec: "6.x"

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v4

      - name: Create Release (tag)
        if: ${{ steps.changes.outputs.dist == 'true' || github.event_name == 'workflow_dispatch' }}
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: false
          skipIfReleaseExists: true
          draft: false
          makeLatest: false
          tag: v${{ steps.gitversion.outputs.semVer }}
          name: Release v${{ steps.gitversion.outputs.semVer }}
          generateReleaseNotes: true
          body:
            Release ${{ steps.gitversion.outputs.semVer }} of ${{ github.event.repository.name }}

      - name: Create Release (latest)
        if: ${{ steps.changes.outputs.dist == 'true' || github.event_name == 'workflow_dispatch' }}
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          skipIfReleaseExists: false
          draft: false
          makeLatest: true
          tag: latest
          name: Release v${{ steps.gitversion.outputs.semVer }}
          generateReleaseNotes: true
          body:
            Release ${{ steps.gitversion.outputs.semVer }} of ${{ github.event.repository.name }}
