name: Smoke screen tests
on:
  push:
    branches-ignore:
      - main

jobs:
  sst:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v6

    - run: |
        npm install
        npm test
